# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS system files
.DS_Store

# Ignore Streamlit logs
.streamlit/

# Ignore large data files (optional)
data/*.zip
data/*.pkl